<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itgacl.magic4j.modules.sys.mapper.SysRoleMapper">

    <!--获取用户角色列表-->
    <select id="getUserRoleList" resultType="com.itgacl.magic4j.modules.sys.entity.SysRole">
        SELECT sr.* FROM sys_role sr LEFT JOIN sys_user_role ur ON sr.id = ur.role_id WHERE ur.user_id = #{userId} AND sr.delete_flag=0
    </select>
</mapper>
